/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Kodchasan', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kodchasan', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media (max-width:850px) {
  .tabs .tabs-items {
    padding-top: 25px;
  }
}
@media (max-width:550px) {
  .tabs .tabs-items {
    padding-top: 15px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tabs .tabs-item {
  display: none;
  width: 85%;
  animation-name: fadeIn;
  animation-duration: 3s;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-item-selected .inline {
  width: 120px;
  height: auto;
  vertical-align: middle;
}
.tabs .tabs-item-selected p {
  padding-bottom: 50px;
}
.tabs .tabs-links {
  display: flex;
  margin-left: 20px;
}
.tabs .tabs-link {
  padding: 20px 4vw;
  font-size: 2rem;
  background-color: #4DECFF;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width:850px) {
  .tabs .tabs-link {
    padding: 10px 3vw;
  }
}
.tabs .tabs-link:hover {
  background-color: #80f1ff;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #ffffff;
  font-weight: 600;
  color: #073E67;
}
.tabs .tabs-link-selected:hover {
  background-color: #80f1ff;
}
.top-nav {
  display: block;
  height: 65px;
  max-width: 1100px;
  margin: auto;
}
@media (max-width:550px) {
  .top-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 56px;
  }
}
.top-nav .logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 200px;
  height: auto;
}
@media (max-width:850px) {
  .top-nav .logo {
    left: 10px;
    top: 10px;
    z-index: 101;
  }
}
.top-nav .nav-top {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:550px) {
  .top-nav .nav-top {
    position: absolute;
    top: 50px;
    display: none;
    width: 100%;
    flex-direction: column;
    margin: auto;
    order: 3;
  }
}
.top-nav .nav-top a {
  text-decoration: none;
  padding: 20px;
  height: 70px;
  color: dimgray;
  font-weight: 600;
  font-size: 1.5rem;
}
.top-nav .nav-top a .abt {
  color: #505050;
}
@media (max-width:850px) {
  .top-nav .nav-top a {
    font-size: 1.4rem;
    white-space: nowrap;
    padding-top: 25px;
    border-bottom: #073E67;
  }
}
@media (max-width:550px) {
  .top-nav .nav-top a {
    padding: 10px;
    height: auto;
    text-align: center;
  }
}
.top-nav .nav-top .sign-up,
.top-nav .nav-top .log-in {
  font-weight: normal;
  font-size: 1.7rem;
  padding: 18px;
}
@media (max-width:850px) {
  .top-nav .nav-top .sign-up,
  .top-nav .nav-top .log-in {
    font-size: 1.5rem;
    padding-top: 23px;
  }
}
@media (max-width:550px) {
  .top-nav .nav-top .sign-up,
  .top-nav .nav-top .log-in {
    padding: 10px;
    height: auto;
  }
}
.top-nav .nav-top .log-in {
  color: #363636;
}
.top-nav .nav-top .sign-up {
  color: #1c1c1c;
}
#hamburger-icon {
  display: none;
}
@media (max-width:550px) {
  #hamburger-icon {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0.5em 1.5em;
    display: inline-block;
    text-decoration: none;
  }
  #hamburger-icon:hover,
  #hamburger-icon:focus {
    color: #80f1ff;
  }
  #hamburger-icon .line {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #4DECFF;
    position: absolute;
    right: 0;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  #hamburger-icon .line.line-1 {
    top: 0;
    color: #4DECFF;
  }
  #hamburger-icon .line.line-2 {
    top: 50%;
  }
  #hamburger-icon .line.line-3 {
    top: 100%;
  }
  #hamburger-icon:hover .line-1,
  #hamburger-icon:focus .line-1 {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
  }
  #hamburger-icon:hover .line-3,
  #hamburger-icon:focus .line-3 {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
  }
  #hamburger-icon.active .line-1 {
    transform: translateY(15px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(15px) translateX(0) rotate(45deg);
    -moz-transform: translateY(15px) translateX(0) rotate(45deg);
  }
  #hamburger-icon.active .line-2 {
    opacity: 0;
  }
  #hamburger-icon.active .line-3 {
    transform: translateY(-15px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-15px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-15px) translateX(0) rotate(-45deg);
  }
}
body header .top-nav .menu--open {
  display: flex;
  width: 100%;
  flex-direction: column;
  order: 3;
  background-color: #80f1ff;
  z-index: 100;
}
.foot {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #073E67;
  background-color: #b5b5b5;
  padding: 20px 10vw;
}
.foot a {
  text-decoration: none;
  color: #073E67;
  padding: 10px;
  font-size: 1.5rem;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.bg-container {
  background-image: url(../assets/camera-fade.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width:850px) {
  .bg-container {
    background-size: 65%;
  }
}
@media (max-width:550px) {
  .bg-container {
    background-size: 75%;
  }
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4DECFF;
}
.header-container .header {
  height: 50px;
}
.cta {
  width: 50%;
  text-align: center;
  padding: 150px 20px;
}
@media (max-width:850px) {
  .cta {
    padding: 100px 10px;
  }
}
@media (max-width:550px) {
  .cta {
    width: 70%;
  }
}
.cta h1 {
  font-family: 'Anton', sans-serif;
  color: dimgray;
  line-height: 1.4;
  margin: 20px;
}
.cta button {
  color: #073E67;
  background-color: #4DECFF;
  font-size: 1.5rem;
  border: none;
  padding: 1vw 4vw;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 3% 20%;
  font-size: 2rem;
}
.cta button:hover {
  background-color: #80f1ff;
}
.section {
  max-width: 1000px;
  margin: auto;
  display: flex;
  overflow: hidden;
  line-height: 1.2rem;
  padding: 50px 0;
}
@media (max-width:850px) {
  .section {
    padding-top: 40px;
  }
}
@media (max-width:550px) {
  .section {
    padding-top: 20px;
    height: 350px;
  }
}
.right-section img {
  width: 49%;
  float: right;
}
.learn {
  color: #073E67;
  background-color: #4DECFF;
  font-size: 1.5rem;
  border: none;
  padding: 1vw 4vw;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.learn:hover {
  background-color: #80f1ff;
}
