/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Kodchasan', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kodchasan', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.top-nav {
  display: block;
  height: 65px;
  max-width: 1100px;
  margin: auto;
}
@media (max-width:550px) {
  .top-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 56px;
  }
}
.top-nav .logo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 200px;
  height: auto;
}
@media (max-width:850px) {
  .top-nav .logo {
    left: 10px;
    top: 10px;
    z-index: 101;
  }
}
.nav-top {
  display: flex;
  justify-content: flex-end;
}
@media (max-width:550px) {
  .nav-top {
    position: absolute;
    top: 50px;
    display: none;
    width: 100%;
    flex-direction: column;
    margin: auto;
    order: 3;
  }
}
.nav-top .hidden {
  display: none;
}
.nav-top .nav-link {
  text-decoration: none;
  padding: 20px;
  height: 70px;
  color: dimgray;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width:850px) {
  .nav-top .nav-link {
    font-size: 1.4rem;
    white-space: nowrap;
    padding-top: 25px;
    border-bottom: #073E67;
  }
}
@media (max-width:550px) {
  .nav-top .nav-link {
    padding: 5px;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
}
.nav-top .nav-link .abt {
  color: #505050;
}
@media (max-width:550px) {
  .nav-top .nav-link .abt {
    color: dimgray;
  }
}
.nav-top .sign-up,
.nav-top .log-in {
  font-weight: normal;
  font-size: 1.7rem;
  padding: 18px;
}
@media (max-width:850px) {
  .nav-top .sign-up,
  .nav-top .log-in {
    font-size: 1.5rem;
    padding-top: 23px;
  }
}
@media (max-width:550px) {
  .nav-top .sign-up,
  .nav-top .log-in {
    padding: 10px;
    height: auto;
    font-size: 1.8rem;
  }
}
.nav-top .log-in {
  color: #363636;
}
@media (max-width:550px) {
  .nav-top .log-in {
    color: #ffffff;
  }
}
.nav-top .sign-up {
  color: #1c1c1c;
}
@media (max-width:550px) {
  .nav-top .sign-up {
    color: #ffffff;
    margin-bottom: 0px;
  }
}
body header .top-nav .menu--open {
  display: flex;
  width: 100%;
  flex-direction: column;
  order: 3;
  height: 105vw;
  background-image: linear-gradient(#484A51, #787b87);
  z-index: 100;
}
.icon-menu--open {
  color: #B3F7FD;
  font-size: 12vw;
  text-align: center;
  cursor: pointer;
}
#hamburger-icon {
  display: none;
}
@media (max-width:550px) {
  #hamburger-icon {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0.5em 1.5em;
    display: inline-block;
    text-decoration: none;
  }
  #hamburger-icon:hover,
  #hamburger-icon:focus {
    color: #80f1ff;
  }
}
#hamburger-icon .line {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00727F;
  position: absolute;
  right: 0;
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
  top: 0;
  color: #4DECFF;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}
#hamburger-icon:hover .line-1,
#hamburger-icon:focus .line-1 {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
}
#hamburger-icon:hover .line-3,
#hamburger-icon:focus .line-3 {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(15px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(15px) translateX(0) rotate(45deg);
  -moz-transform: translateY(15px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-15px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-15px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-15px) translateX(0) rotate(-45deg);
}
footer {
  border-top: 2px solid #b1babc;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-menus {
  display: flex;
  justify-content: space-around;
}
@media (max-width:550px) {
  .footer-menus {
    text-align: center;
  }
}
.footer-menus .bottom-menu {
  padding: 40px 0px 0px 40px;
  max-width: 49%;
}
@media (max-width:550px) {
  .footer-menus .bottom-menu {
    width: 49%;
  }
}
.footer-menus h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #ccd2d4;
}
.foot {
  display: inline-block;
  padding: 20px;
}
@media (max-width:550px) {
  .foot {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
.foot a {
  text-decoration: none;
  color: #b1babc;
  padding: 10px;
  font-size: 1.5rem;
}
@media (max-width:550px) {
  .foot a {
    padding: 15px;
  }
}
.social-media {
  padding: 40px;
}
@media (max-width:550px) {
  .social-media {
    width: 49%;
  }
}
.social-media .social-links {
  padding-left: 20px;
}
@media (max-width:550px) {
  .social-media .social-links {
    padding-left: 0px;
    padding-top: 10px;
  }
}
.social-media i {
  font-size: 40px;
  color: #00727F;
  padding: 17px;
  text-shadow: 0 0 5px black;
}
@media (max-width:550px) {
  .social-media i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
  }
}
.copy {
  text-align: center;
  color: #b1babc;
}
.carousel-full {
  padding: 50px;
  text-align: center;
}
@media (max-width:550px) {
  .carousel-full {
    padding: 50px 0px;
  }
}
.carousel-full h2 {
  color: #00727F;
  font-family: 'Anton', sans-serif;
}
@media (max-width:550px) {
  .carousel-full h2 {
    font-size: 2rem;
  }
}
.carousel-container {
  width: 550px;
  height: 400px;
  margin: 45px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px dimgray;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width:550px) {
  .carousel-container {
    box-shadow: none;
  }
}
.carousel-container .box {
  padding: 40px;
}
@media (max-width:550px) {
  .carousel-container .box {
    padding: 20px 0px;
  }
}
@media (max-width:550px) {
  .carousel-container {
    width: 95%;
    height: auto;
  }
}
.box {
  display: none;
}
.box img {
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 375px;
}
@media (max-width:550px) {
  .box img {
    max-width: 70vw;
  }
}
.box-selected {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-icon {
  height: 50px;
  color: #00727F;
  cursor: pointer;
  font-size: 40px;
}
.artist-link {
  color: #073E67;
  background-color: #B3F7FD;
  font-size: 2rem;
  padding: 3% 20%;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #80f1ff;
  padding: 2% 10%;
}
.artist-link:hover {
  background-color: #80f1ff;
}
@media (max-width:550px) {
  .artist-link {
    width: 70vw;
  }
}
.artist-link:hover {
  background-color: #B3F7FD;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.bg-container {
  background-image: url(../assets/camera-fade.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  box-shadow: 0px 20px 20px -3px rgba(0, 0, 0, 0.85);
  min-height: 500px;
  object-fit: cover;
}
@media (max-width:850px) {
  .bg-container {
    background-size: 65%;
  }
}
@media (max-width:550px) {
  .bg-container {
    background-size: 75%;
  }
}
@media (max-width: 466px) {
  .bg-container {
    background-size: 451px auto;
  }
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4DECFF;
}
.header-container .header {
  height: 50px;
}
.cta {
  width: 50%;
  text-align: center;
  padding: 150px 20px;
}
@media (max-width:850px) {
  .cta {
    padding: 100px 10px;
  }
}
@media (max-width:550px) {
  .cta {
    width: 100%;
    padding-top: 40px;
  }
}
.cta h1 {
  font-family: 'Anton', sans-serif;
  color: dimgray;
  line-height: 1.4;
  margin: 20px;
}
@media (max-width:550px) {
  .cta h1 {
    color: #292929;
  }
}
.cta .cta-button {
  color: #073E67;
  background-color: #B3F7FD;
  font-size: 2rem;
  padding: 3% 20%;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.cta .cta-button:hover {
  background-color: #80f1ff;
}
.sub-cta {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 100px 50px;
  background-color: #00727F;
  position: relative;
  z-index: -1;
}
@media (max-width:550px) {
  .sub-cta {
    padding: 75px 20px;
    font-size: 3rem;
  }
}
.sub-cta i {
  font-size: 50px;
  padding: 20px;
  color: #B3F7FD;
  z-index: 0;
  text-shadow: 0 0 5px #b1babc;
}
.sub-cta h2 {
  font-family: 'Anton', sans-serif;
  color: #ccd2d4;
  line-height: 1.4;
  width: 70%;
  margin: auto;
}
@media (max-width:550px) {
  .sub-cta h2 {
    width: 95%;
  }
}
.sub-cta p {
  color: #ccd2d4;
  text-align: justify;
  padding: 0px 3px;
}
.parallax {
  background-image: url(../assets/map.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: auto;
}
.mission {
  display: block;
  width: 100%;
  margin: auto;
  padding: 50px;
  background-image: linear-gradient(#ffffff, #e8ebeb);
  box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px) {
  .mission {
    text-align: justify;
  }
}
.mission .mission-btn {
  color: #073E67;
  background-color: #B3F7FD;
  font-size: 2rem;
  padding: 3% 20%;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 2% 10%;
}
.mission .mission-btn:hover {
  background-color: #80f1ff;
}
@media (max-width:550px) {
  .mission .mission-btn {
    width: 100%;
  }
}
.mission h2 {
  background-size: cover;
  font-family: 'Anton', sans-serif;
  color: #00727F;
}
@media (max-width:550px) {
  .mission h2 {
    text-align: center;
  }
}
.mission .inline {
  width: 120px;
  height: auto;
  vertical-align: middle;
}
.mission p {
  padding: 50px;
}
@media (max-width:550px) {
  .mission p {
    padding: 50px 3px;
  }
}
@media (max-width:550px) and (max-width:550px) {
  .mission p {
    text-align: justify;
  }
}
.bg-container1 {
  background-image: url('../assets/texture.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}
.feature-container {
  width: 100%;
  text-align: center;
}
.feature-container h2 {
  text-align: center;
  padding: 50px;
  color: #dadedf;
}
.feature-container a {
  text-align: center;
}
.feature-container .feature-btn {
  background-color: #B3F7FD;
  font-size: 2rem;
  padding: 3% 20%;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 2% 10%;
  text-align: center;
  margin: 40px;
  color: #073E67;
  background-color: #80f1ff;
}
.feature-container .feature-btn:hover {
  background-color: #80f1ff;
}
.feature-container .feature-btn:hover {
  background-color: #B3F7FD;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features .feature {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #b1babc;
  background-color: rgba(255, 255, 255, 0.1);
}
.features .feature h4 {
  font-size: 1.5rem;
  padding: 0px;
  font-weight: bold;
  color: #dadedf;
}
.features .feature p {
  font-size: 1.4rem;
  padding: 10px;
  color: #ccd2d4;
  text-align: center;
}
.features .feature .fas {
  font-size: 90px;
  color: #00727F;
  text-shadow: 0 0 5px black;
}
.bg-container2 {
  background-image: url('../assets/texture1.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.about-main h2 {
  font-family: 'Anton', sans-serif;
  color: #ffffff;
  line-height: 1.4;
  padding: 70px;
  background-color: #00727F;
  background-image: linear-gradient(#00b7cc, #00727F);
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}
.team-container .team {
  margin-top: 50px;
  padding: 10px;
  background-image: linear-gradient(#b1babc, #dadedf);
}
.team-container .person-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.team-container .person-info {
  width: 60%;
}
.team-container .team img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.team-container h3 {
  font-family: 'Anton', sans-serif;
  font-size: 1.7rem;
  font-weight: lighter;
  color: #505050;
  margin: 0;
}
.team-container h4 {
  font-size: 1.5rem;
  margin: 0;
}
.about-main .team-container .contact-link {
  font-size: 32px;
  text-decoration: none;
  color: #00727F;
  text-shadow: 0 0 5px #B3F7FD;
  float: right;
  padding-left: 10px;
}
