//General
@color1: #4DECFF;
@color2: lighten(#4DECFF,10%);
@color3: #00727F;
@white: rgb(255,255,255);
@button-bg: #B3F7FD;
@button-color:#073E67;
@gray: dimgray;
@other-gray:#b1babc;

//menu-icon
@height-icon: 30px;
@width-line: 50px;
@height-line: 4px;
@transition-time: 0.4s;
@rotation: 45deg;
@translateY: (@height-icon / 2);
@translateX: 0;


.buttoned(){
  color: @button-color;
  background-color: @button-bg;
  font-size: 2rem;
  padding: 3% 20%;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  border:none;
  cursor:pointer;
  &:hover{
    background-color:@color2;
  }    
}

//Escaping
@mobile: ~'(max-width:550px)';
@tablet: ~'(max-width:850px)';