.carousel-full{
    padding: 50px;
    text-align:center;
    @media @mobile{
      padding:50px 0px;;
    }
    h2{
      color:@color3;
      font-family: 'Anton', sans-serif;
      @media @mobile{
        font-size:2rem;
      }
    }
}

.carousel-container {
    width: 550px;
    height:400px;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0px 0px 5px @gray;
    border-radius: 10px;
    overflow: hidden;
    @media @mobile{
      box-shadow:none;
    }
    .box {
      padding: 40px;
      @media @mobile{
        padding:20px 0px;
      }
    }
    @media @mobile{
      width:95%;
      height:auto;
    }
  }


.box{
    display:none;
    img{
      width:auto;
      max-width:400px;
      height:auto;
      max-height:375px;
      @media @mobile{
        max-width:70vw;
      }
    }
    &-selected{
      display: flex;
      justify-content: center;
      align-items:center;
    }
}
.arrow-icon{
  height:50px;
  color:@color3;
  cursor: pointer;
  font-size: 40px;
}
.artist-link{
  .buttoned();
    font-weight: bold;
    background-color:@color2;
    padding: 2% 10%;
    @media @mobile{
      width:70vw;
    }
    &:hover{
      background-color:@button-bg;
    }
        
}

