.carousel-full{
    padding: 50px;
    text-align:center;
    h2{
      color:@color3;
      font-family: 'Anton', sans-serif;
    }
}

.carousel-container {
    width: 550px;
    height:400px;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0px 0px 5px @gray;
    border-radius: 10px;
    overflow: hidden;
    .box {
      padding: 40px;
    }
  }


.box{
    display:none;
    img{
      width:auto;
      max-width:400px;
      height:auto;
      max-height:375px;
    }
    &-selected{
      display: flex;
      justify-content: center;
      align-items:center;
    }
}
.arrow-icon{
  height:50px;
  color:@color3;
  cursor: pointer;
  font-size: 40px;
}
.artist-link{
  .buttoned();
    font-weight: bold;
    background-color:@color2;
    padding: 2% 10%;
    &:hover{
      background-color:@button-bg;
    }    
}

