.box{
    display:none;
    &-image{
      & img{
      max-width: 80%
      }
    }
    &-selected{
      display: flex;
      justify-content: center;
    }
  }
  .arrow-icon{
    border-radius: 50%;
    max-height: min-content;
    cursor: pointer;
    background-color: rgba(black, .6)
  }